.img22 {
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  top: 0;
}

.wrapper:hover .img22 {
  visibility: visible;
  transition: all 500ms ease;
  opacity: 0.7;
}
.wrapper:hover .img11 {
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease;
}
